<!DOCTYPE html>
<html class="no-js" lang="">
  
    <body class="single-blog-1">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header-area start -->
	
		<!-- single-blog-area start -->
		<div id="single-blog" class="single-blog-area">
			<div class="single-blog-heading">
				<div class="single-blog-img"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="single-blog-details">
							<h1 class="post-title">Tale in The Lover</h1>
							<p class="post-date">Posted on July 10, 2015</p>
							<div class="post-long-desc">
								
							</div>
							<div class="single-blog-bottom fix">
								<div class="post-social-links pull-left">
									<p>
										<span class="lbl">Share on&nbsp;&nbsp;-</span>
										<span>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</span>
									</p>
								</div>
								<div class="post-tags pull-right">
									<p>
										<span class="lbl">Tags&nbsp;&nbsp;-</span>
										<span>
											<a href="#">sports,</a>
											<a href="#">football,</a>
											<a href="#">soccer</a>
										</span>
									</p>
								</div>
							</div>
				</div>
			</div>
		</div>
		
    </body>
</html>
